-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag(movies_path, :method => 'get', :id => 'ratings_form') do
  %table
    %tbody
      %tr
        %td Ratings:
        - 15.times do
          %td
        - @all_ratings.each do |r|
          = hidden_field_tag("ratings[#{r}]", "0")
          %td= check_box_tag("ratings[#{r}]", "1", @ratings.nil? || @ratings[r] == "1", :id => "ratings_#{r}")
          %td= r
          - 10.times do 
            %td
        %td= submit_tag("Refresh", :id => "ratings_submit")

<br />

%table#movies
  %thead
    %tr
      %th{ :class => sort_this('title') }= link_to("Movie Title", movies_path(:sort_type => 'title'), :id => 'title_header')
      %th Rating
      %th{ :class => sort_this('release_date') }= link_to("Release Date", movies_path(:sort_type => 'release_date'), :id => 'release_date_header')
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
<br/>
= link_to 'New session', clear_session_movies_path
